* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    min-height: 100vh;
}

.form {
    font-weight: 600;
    max-width: 400px;
    width: 100%;
    border: 1px solid;
    border-radius: 25px;
    padding: 30px;
}

.form-group {
    border: none;
    padding: 0;
    margin-bottom: 10px;
}

.form-group-title {
    padding: 0px;
    margin-bottom: 15px;
    text-align: center;
}

.label {
    display: inline-block;
}

.textarea {
    resize: vertical;
    min-height: 30px;
    max-height: 150px;
}

.input,
.textarea {
    border: 1px solid #333;
    padding: 5px 12px;
    width: 100%;
    border-radius: 5px;
    margin: 10px 0;
    outline: none;
}

.input:disabled,
.textarea:disabled {
    opacity: 0.5;
}

.checkbox-label {
    padding-left: 22px;
}

.checkbox {
    position: absolute;
    appearance: none;
    outline: none;
}

.checkbox::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    margin-left: -22px;
    border: 1px solid #333;
    border-radius: 4px;
    cursor: pointer;
}

.checkbox:checked::after {
    background: url("../images/check-icon.svg") no-repeat center, #9e1fff;
}

.checkbox-text {
    margin-left: 5px;
    font-size: 16px;
}

.button {
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 6px 18px;
    background-color: #9e1fff;
    color: #fff;
    transition: opacity 0.2s;
    margin: 0 auto;
}

.button:hover {
    opacity: 0.85;
}

.button:not(:disabled):active {
    background-color: #8719db;
}

.button:disabled,
.checkbox:disabled::after {
    opacity: 0.5;
    cursor: not-allowed;
}

.input:focus-visible,
.textarea:focus-visible,
.checkbox:focus-visible::after,
.button:focus-visible {
    outline: 2px solid #9e1fff;
    outline-offset: 1px;
}
